* {
  box-sizing: border-box;
}

:root {
  --font-heading: "Sen", sans-serif;
  --primary-color: #ffb900;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  padding: 0px 16px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 1.6 rem;
  font-weight: 600;
  border-radius: 24.5px;
  background: #171100;
}

.btn:hover {
  opacity: 0.9;
}

.heading-lv2 {
  color: #171100;
  font-family: var(--font-heading);
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 1.26; /* 126.316% */
  letter-spacing: -0.76px;
}

.header .btn-sign-up {
  min-width: 144px;
}

.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.header {
  background-color: rgb(130, 176, 52);
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}

.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}

.nav li.active a,
.nav a:hover {
  color: black;
  text-shadow: 1px 0 0 black;
}

.nav {
  margin-left: auto;
}

.nav li.active a::after {
  display: block;
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
  left: 21px;
  bottom: 6px;
  border-radius: 99px;
}

.main-content {
  width: 1170px;
  /* co kéo trình duyệt luôn hiển thi nội dung khi bị co lại */
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.header .action {
  margin-left: 49px;
}

/* ==========================hero left================ */

.hero {
  padding-top: 57px;
  background-color: #fffcf4;
}

.hero .body {
  display: flex;
}

.hero .media-block {
  width: 48%;
}

.hero .content-block {
  width: 52%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
}

.hero .media-block {
  display: flex;
  position: relative;
}

.hero .hero-summary {
  width: 270px;
  background-color: #fff;
  position: absolute;
  left: 300px;
  top: 393px;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .hero-summary .item {
  display: flex;
  align-items: center;
}

.hero .hero-summary .item + .item {
  margin-top: 22px;
}

.hero .hero-summary .info {
  margin-left: 16px;
}

.hero .hero-summary .info .label {
  font-size: 1.4rem;
  line-height: 1.86; /* 185.714% */
}

.hero .hero-summary .info .title {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67; /* 166.667% */
}

.hero .hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero .hero-summary .icon2 {
  background-color: #fcefff;
}

.hero .hero-summary .icon3 {
  background-color: #ebeaff;
}

/* ==========================hero right================ */

.hero .content-block {
  width: 52%;
  padding-left: 103px;
  padding-top: 64px;
}
.hero .content-block .heading {
  font-family: var(--font-heading);
  color: #171100;
  font-size: 5.8rem;
  font-weight: 700;
  line-height: 1.17; /* 117.241% */
  letter-spacing: -1.16px;
  margin-bottom: 28px;
}

.desc {
  color: #5f5b53;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero .content-block .cta-group {
  margin-top: 38px;
  display: flex;
}

.hero .content-block .cta-group .btn-cta {
  width: 180px;
  height: 64px;
  border-radius: 32px;
  background: var(--primary-color);
  align-items: center;
  justify-content: center;
  display: flex;
}

.hero .content-block .cta-group .watch-video .icon {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero .content-block .cta-group .watch-video {
  display: flex;
  background-color: #fffcf4;
  border: 0;
  align-items: center;
  justify-content: center;
  margin-left: 28px;
}

.hero .content-block .cta-group .watch-video .icon {
  margin-right: 14px;
}

.hero .content-block .cta-group .watch-video span {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}

.content-block .desc-recent {
  margin-top: 48px;
}

.content-block .stats strong {
  color: #171100;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.23; /* 122.727% */
  margin-top: 0;
}

.hero .stats strong:nth-child(2) {
  margin-left: 28px;
}
.popular {
  padding-top: 65px;
  margin-top: 135px;
}

.popular .popular-top {
  display: flex;
  justify-content: space-between;
}

.popular .info .desc {
  width: 458px;
  height: 60px;
  margin-top: 16px;
}

.popular .control {
  display: flex;
  align-items: center;
  gap: 18px;
}
.popular .control .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.popular-top .control-btn:hover {
  background: var(--primary-color);
  color: #fff;
  cursor: pointer;
}
